<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
  <select id="selectOrderList" resultType="orderWithNames">
	select * from v_order_detail_search
	    
	<where>
		<if test="order_status != null and order_status != ''">
			order_status_no = #{order_status}
		</if>
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			and 
			 <choose>
				<when test="start_date != '' and end_date == ''">
					order_date <![CDATA[>=]]> to_date(#{start_date}, 'yyyy-MM-dd')
				</when>
				<when test="start_date == '' and end_date != ''">
					order_date <![CDATA[<=]]> to_date(#{end_date}, 'yyyy-MM-dd')
				</when>
				<otherwise>
					order_date <![CDATA[>]]> to_date(#{start_date}, 'yyyy-MM-dd')
					and 
					order_date <![CDATA[<=]]> to_date(#{end_date}, 'yyyy-MM-dd') + 1
				</otherwise>
			</choose>
		</if>
		<if test="field != null and field != '' and keyword != null and keyword != ''">
			and
			${field} like '%'||#{keyword}||'%'

		</if>
	</where>
	order by order_no desc
  </select>
  
  <select id="selectOrderCnt" resultType="_int">
	select count(*) from v_order_detail_search
	    
	<where>
		<if test="order_status != null and order_status != ''">
			order_status_no = #{order_status}
		</if>
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			and 
			 <choose>
				<when test="start_date != '' and end_date == ''">
					order_date <![CDATA[>=]]> to_date(#{start_date}, 'yyyy-MM-dd')
				</when>
				<when test="start_date == '' and end_date != ''">
					order_date <![CDATA[<=]]> to_date(#{end_date}, 'yyyy-MM-dd')
				</when>
				<otherwise>
					order_date <![CDATA[>]]> to_date(#{start_date}, 'yyyy-MM-dd')
					and 
					order_date <![CDATA[<=]]> to_date(#{end_date}, 'yyyy-MM-dd') + 1
				</otherwise>
			</choose>
		</if>
		<if test="field != null and field != '' and keyword != null and keyword != ''">
			and
			${field} like '%'||#{keyword}||'%'

		</if>
	</where>
  </select>
  
  <select id="selectOrderStatusList" resultType="orderStatus">
  	select * from order_status order by order_status_no
  </select>
 
  <select id="selectOneOrderDetailByOrderNo" resultType="orderDetail">
  	select * from v_order_detail where order_no = #{orderNo}
  </select>
  
  <update id="updateOrderStaus">
  	update tb_order set order_status_no = #{statusNo}, order_status_update = sysdate  where order_no = #{orderNo}
  </update>
  <update id="updateAdminMemo">
  	update order_info set admin_memo = #{memo} where order_info_no = #{orderInfoNo}
  </update>

</mapper>